.submitForm{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}
.submit {
    padding: 0 1em;
    margin: 1em 1em 0;
    height: 2em;
    text-emphasis: center;
}
.btn{
    text-align: center;
    margin-bottom: 1em;
}
.answer_box{
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    font-size: 1.2rem;
    padding: 1px;
}
#answer{
    display: none;
}
.answer_box span{
    background-color: rgb(145, 231, 145);
    border: 0.1rem solid #888;
    border-radius: 5px;
    padding: 0.2rem;
    display: inline-block;
    display: none;
}
.submit{
    font-size: 0.9em;
    width: 50%; 
    height: 1.7em;
}
